In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:mypassword@127.0.0.1/tomo

'Connected: root@tomo'

In [10]:
%sql SELECT * FROM stations;

 * mysql+pymysql://root:***@127.0.0.1/tomo
4 rows affected.

[('GI-01', 'Gili Iyang 1', None, None, 'GI_01', 'GI01'),
 ('GI-02', 'Gili Iyang 2', None, None, 'GI_02', 'GI02'),
 ('GI-03', 'Gili Iyang 3', None, None, 'GI_03', 'GI03'),
 ('GI-04', 'Gili Iyang 4', None, None, 'GI_04', 'GI04')]

In [11]:
%sql SELECT station_id, DATE(timestamp), COUNT(*) FROM max_snr GROUP BY station_id, DATE(timestamp);

 * mysql+pymysql://root:***@127.0.0.1/tomo
0 rows affected.

[]

In [15]:
%sql SELECT * FROM station_links;

 * mysql+pymysql://root:***@127.0.0.1/tomo
4 rows affected.

[(1, 'GI-01_GI-02', 'GI-01', 'GI-02'),
 (2, 'GI-01_GI-03', 'GI-01', 'GI-03'),
 (3, 'GI-01_GI-04', 'GI-01', 'GI-04'),
 (4, 'GI-03_GI-04', 'GI-03', 'GI-04')]

In [16]:
%sql SELECT * FROM temperature;

 * mysql+pymysql://root:***@127.0.0.1/tomo
38 rows affected.

[(1, datetime.datetime(2021, 6, 24, 3, 20), 29.223),
 (1, datetime.datetime(2021, 6, 24, 3, 30), 29.2244),
 (1, datetime.datetime(2021, 6, 24, 4, 50), 29.2197),
 (1, datetime.datetime(2021, 6, 24, 5, 0), 29.2386),
 (2, datetime.datetime(2021, 6, 23, 0, 50), 29.8286),
 (2, datetime.datetime(2021, 6, 23, 4, 20), 29.7578),
 (2, datetime.datetime(2021, 6, 23, 4, 30), 29.7935),
 (2, datetime.datetime(2021, 6, 23, 5, 10), 29.7351),
 (2, datetime.datetime(2021, 6, 23, 5, 40), 29.7937),
 (2, datetime.datetime(2021, 6, 23, 6, 40), 29.782),
 (2, datetime.datetime(2021, 6, 23, 6, 50), 29.7752),
 (2, datetime.datetime(2021, 6, 23, 7, 0), 29.7924),
 (2, datetime.datetime(2021, 6, 23, 9, 0), 29.7589),
 (2, datetime.datetime(2021, 6, 23, 11, 50), 29.7922),
 (2, datetime.datetime(2021, 6, 23, 12, 30), 29.7935),
 (2, datetime.datetime(2021, 6, 23, 13, 40), 29.7814),
 (2, datetime.datetime(2021, 6, 23, 14, 40), 29.7995),
 (2, datetime.datetime(2021, 6, 23, 15, 20), 29.7844),
 (2, datetime.datetime(2021, 6, 23, 16, 20), 29.8102),
 (3, datetime.datetime(2021, 6, 23, 4, 30), 29.4797),
 (3, datetime.datetime(2021, 6, 23, 5, 0), 29.455),
 (3, datetime.datetime(2021, 6, 23, 7, 0), 29.4472),
 (3, datetime.datetime(2021, 6, 23, 7, 20), 29.4453),
 (3, datetime.datetime(2021, 6, 23, 9, 50), 29.4549),
 (3, datetime.datetime(2021, 6, 23, 11, 20), 29.4444),
 (3, datetime.datetime(2021, 6, 23, 11, 50), 29.4563),
 (3, datetime.datetime(2021, 6, 23, 12, 30), 29.4166),
 (3, datetime.datetime(2021, 6, 23, 14, 40), 29.4254),
 (3, datetime.datetime(2021, 6, 23, 15, 20), 29.4771),
 (3, datetime.datetime(2021, 6, 23, 20, 20), 29.4506),
 (3, datetime.datetime(2021, 6, 23, 21, 20), 29.4306),
 (4, datetime.datetime(2021, 6, 24, 2, 40), 29.1222),
 (4, datetime.datetime(2021, 6, 24, 3, 30), 29.1278),
 (4, datetime.datetime(2021, 6, 24, 5, 50), 29.1317),
 (4, datetime.datetime(2021, 6, 24, 6, 20), 29.1549),
 (4, datetime.datetime(2021, 6, 24, 7, 20), 29.1453),
 (4, datetime.datetime(2021, 6, 24, 7, 40), 29.1495),
 (4, datetime.datetime(2021, 6, 24, 8, 50), 29.1251)]

In [19]:
%sql SELECT * FROM current;

 * mysql+pymysql://root:***@127.0.0.1/tomo
38 rows affected.

[(1, datetime.datetime(2021, 6, 24, 3, 20), -0.00970811, None),
 (1, datetime.datetime(2021, 6, 24, 3, 30), 0.00124611, None),
 (1, datetime.datetime(2021, 6, 24, 4, 50), -0.0387905, None),
 (1, datetime.datetime(2021, 6, 24, 5, 0), 0.118521, None),
 (2, datetime.datetime(2021, 6, 23, 0, 50), 0.104941, None),
 (2, datetime.datetime(2021, 6, 23, 4, 20), 0.189159, None),
 (2, datetime.datetime(2021, 6, 23, 4, 30), 0.511954, None),
 (2, datetime.datetime(2021, 6, 23, 5, 10), -0.0891408, None),
 (2, datetime.datetime(2021, 6, 23, 5, 40), -0.235059, None),
 (2, datetime.datetime(2021, 6, 23, 6, 40), 0.405846, None),
 (2, datetime.datetime(2021, 6, 23, 6, 50), -0.05147, None),
 (2, datetime.datetime(2021, 6, 23, 7, 0), 0.393642, None),
 (2, datetime.datetime(2021, 6, 23, 9, 0), 0.0492697, None),
 (2, datetime.datetime(2021, 6, 23, 11, 50), 0.562599, None),
 (2, datetime.datetime(2021, 6, 23, 12, 30), -0.469679, None),
 (2, datetime.datetime(2021, 6, 23, 13, 40), -0.466083, None),
 (2, datetime.datetime(2021, 6, 23, 14, 40), -0.466294, None),
 (2, datetime.datetime(2021, 6, 23, 15, 20), 0.616898, None),
 (2, datetime.datetime(2021, 6, 23, 16, 20), -0.0983703, None),
 (3, datetime.datetime(2021, 6, 23, 4, 30), -0.00133727, None),
 (3, datetime.datetime(2021, 6, 23, 5, 0), 0.0876869, None),
 (3, datetime.datetime(2021, 6, 23, 7, 0), 0.178775, None),
 (3, datetime.datetime(2021, 6, 23, 7, 20), 0.0333948, None),
 (3, datetime.datetime(2021, 6, 23, 9, 50), 0.187136, None),
 (3, datetime.datetime(2021, 6, 23, 11, 20), 0.183422, None),
 (3, datetime.datetime(2021, 6, 23, 11, 50), 0.219672, None),
 (3, datetime.datetime(2021, 6, 23, 12, 30), -0.164141, None),
 (3, datetime.datetime(2021, 6, 23, 14, 40), -0.200092, None),
 (3, datetime.datetime(2021, 6, 23, 15, 20), 0.0403986, None),
 (3, datetime.datetime(2021, 6, 23, 20, 20), 0.176359, None),
 (3, datetime.datetime(2021, 6, 23, 21, 20), -0.0612507, None),
 (4, datetime.datetime(2021, 6, 24, 2, 40), -0.158347, None),
 (4, datetime.datetime(2021, 6, 24, 3, 30), -0.172533, None),
 (4, datetime.datetime(2021, 6, 24, 5, 50), -0.226296, None),
 (4, datetime.datetime(2021, 6, 24, 6, 20), -0.271317, None),
 (4, datetime.datetime(2021, 6, 24, 7, 20), -0.27811, None),
 (4, datetime.datetime(2021, 6, 24, 7, 40), 0.149345, None),
 (4, datetime.datetime(2021, 6, 24, 8, 50), 0.224115, None)]