In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:mypassword@127.0.0.1/tomo

'Connected: root@tomo'

In [6]:
%%sql

CREATE TABLE std_data (
    station_id INT NOT NULL, 
    data_timestamp DATETIME NOT NULL,
    std_value FLOAT
);

 * mysql+pymysql://root:***@127.0.0.1/tomo
0 rows affected.

[]

In [13]:
%%sql

SELECT * FROM std_data;

 * mysql+pymysql://root:***@127.0.0.1/tomo
2 rows affected.

[(1, datetime.datetime(2021, 8, 28, 10, 18, 10), 0.0005),
 (1, datetime.datetime(2021, 8, 28, 10, 18, 26), 0.002)]

In [12]:
%%sql

# SELECT * FROM std_data
INSERT INTO std_data 
    (station_id, data_timestamp, std_value) 
VALUES
    (1, NOW(), 0.0020);

 * mysql+pymysql://root:***@127.0.0.1/tomo
1 rows affected.

[]