In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql mysql+pymysql://root:mypassword@127.0.0.1/tomo

'Connected: root@tomo'

In [10]:
%sql SELECT * FROM stations;

 * mysql+pymysql://root:***@127.0.0.1/tomo
4 rows affected.

[('GI-01', 'Gili Iyang 1', None, None, 'GI_01', 'st00'),
 ('GI-02', 'Gili Iyang 2', None, None, 'GI_02', 'st01'),
 ('GI-03', 'Gili Iyang 3', None, None, 'GI_03', 'st02'),
 ('GI-04', 'Gili Iyang 4', None, None, 'GI_04', 'st03')]

In [11]:
%sql SELECT station_id, DATE(timestamp), COUNT(*) FROM max_snr GROUP BY station_id, DATE(timestamp);

 * mysql+pymysql://root:***@127.0.0.1/tomo
22 rows affected.

[('GI-01', datetime.date(2021, 6, 19), 140),
 ('GI-01', datetime.date(2021, 6, 20), 106),
 ('GI-01', datetime.date(2021, 6, 21), 83),
 ('GI-01', datetime.date(2021, 6, 22), 36),
 ('GI-01', datetime.date(2021, 6, 23), 41),
 ('GI-01', datetime.date(2021, 6, 24), 21),
 ('GI-02', datetime.date(2021, 6, 21), 78),
 ('GI-02', datetime.date(2021, 6, 22), 16),
 ('GI-02', datetime.date(2021, 6, 23), 15),
 ('GI-02', datetime.date(2021, 6, 24), 17),
 ('GI-03', datetime.date(2021, 6, 19), 54),
 ('GI-03', datetime.date(2021, 6, 20), 131),
 ('GI-03', datetime.date(2021, 6, 21), 132),
 ('GI-03', datetime.date(2021, 6, 22), 41),
 ('GI-03', datetime.date(2021, 6, 23), 47),
 ('GI-03', datetime.date(2021, 6, 24), 19),
 ('GI-04', datetime.date(2021, 6, 19), 110),
 ('GI-04', datetime.date(2021, 6, 20), 142),
 ('GI-04', datetime.date(2021, 6, 21), 143),
 ('GI-04', datetime.date(2021, 6, 22), 42),
 ('GI-04', datetime.date(2021, 6, 23), 46),
 ('GI-04', datetime.date(2021, 6, 24), 24)]